dvc
dvc-gdrive
fastapi
imbalanced-learn
joblib
mlflow
mkdocs
mkdocs-material
numpy
pandas
pytest
PyYAML
scikit-learn
setuptools
uvicorn
tenacity
jsonpatch
requests-toolbelt
zstandard
pydantic-settings
attrs
seaborn
mlflow
evidently
kaggle
openai
langchain-core
-e .
# evidently @ git+https://github.com/evidentlyai/evidently.git
