dvc
dvc-gdrive
fastapi
imbalanced-learn
joblib
mlflow
mkdocs
mkdocs-material
numpy
pandas
pytest
PyYAML
scikit-learn
setuptools
uvicorn
tenacity
jsonpatch
requests-toolbelt
zstandard
pydantic-settings
seaborn
evidently
-e .
