dvc==3.0.0
dvc-gdrive==3.0.1
fastapi==0.95.0
imbalanced-learn==0.10.0
joblib==1.4.0
mlflow==2.5.0
mkdocs==1.5.0
mkdocs-material==9.0.0
numpy==1.24.0
pandas==1.5.3
pytest==7.2.2
PyYAML >= 5.1
scikit-learn==1.2.0
setuptools==67.0.0
uvicorn==0.20.0
tenacity==8.2.2
jsonpatch==1.32
requests-toolbelt==1.0.0
zstandard==0.19.0
pydantic-settings==0.2.5
seaborn==0.12.2
evidently==0.3.0
kaggle==1.5.13
openai==1.66.2
attrs >= 19.2.0
langchain-core==0.0.5
-e .
